.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    position: sticky;
    border-radius: 10px;

}

.listTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.listResult{
    flex: 3;
}

.listItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.listItem > label{
    font-size: 12px;
}

.listItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}

.listItem > span{
    height: 30px;
    padding: 5px;
    display: flex;
    background-color: white;
    align-items: center;
    cursor: pointer;
}

.listOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.listOptionInput{
    width: 60px;
}

.listOptions{
    padding: 10px;
}

.listSearch > button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    font-weight: 500;
}